.curtain.curtain--top.curtain--show.curtain--animation.curtain--dark-turk
.curtain.curtain--bottom.curtain--show.curtain--animation.curtain--turq

.page__view__content.intro
	.row.logos
		.large-4.large-offset-2.columns.logos__animation
			.logo.logo--second
				a(href="#others")
					img.logo__image.js-fetch-user(src="images/logo-about.png")
				.logo__shadow.logo__shadow--dark.logo__shadow--top
				.logo__shadow.logo__shadow--bottom
			h4.logo-heading.font--italic 
				a(href="#about")
					| What have others done? &raquo;
			

		.large-4.large-pull-2.columns.logos__animation
			.logo.logo--third
				a(href="#about-me")
					img.logo__image.js-fetch-user(src="images/logo-about-i.png")
				.logo__shadow.logo__shadow--dark.logo__shadow--top
				.logo__shadow.logo__shadow--bottom
			h4.logo-heading.font--italic 
				a(href="#about-me")
					| What can i do? &raquo;

a.btn.btn--about.btn--light(href="#intro") &laquo; Home 

