h3.modal__content__heading  Badges.&nbsp;
	span.font--light Keep track of your achievements...

ul.leaderboard__list
	each badge in collection
		li
			img(src="images/badges/#{badge.BadgeName}-w.png")
			p.badge-name #{badge.BadgeNiceName}