div.locks
	img(src="images/lock-open.png").locks__lock
	img(src="images/lock-open.png").locks__lock
	img(src="images/lock-open.png").locks__lock
.row
	

	.large-12.columns.binary__content--phase-2
		
		h3.modal__content__heading.modal__content__heading--phase-2
			| #{answer}?
		
		input.binary__final-answer(type="text")

		.action-btns
			button(disabled="disabled").btn.btn--submit--final Submit 2/2 &raquo;
	
	