div.locks
	img(src="images/lock-open.png").locks__lock
	img(src="images/lock-open.png").locks__lock
	img(src="images/lock-open.png").locks__lock
.row


	.large-12.columns.code__content



		h5.modal__content__heading.modal__content__heading--vile.modal__content__subheading--code

		.code-input

			.code-input__content.cf
				h3.code-content__heading=title

				textarea.code__input ...

				div.code__result

				#sandbox

				.action-btns
					button.btn.btn--run.executr-switch(data-code-type="javascript") Run Code &laquo;
					button(disabled="disabled").btn.btn--submit
						| Submit
						span.num-challenge 1
						| /5 &raquo;