.curtain.curtain--top.curtain--show.curtain--animation
.curtain.curtain--bottom.curtain--show.curtain--animation.curtain--video

.page__view__content.intro
	.row.logos
		.large-8.large-offset-2.page__content
			.video
				iframe(src="//www.youtube.com/embed/5tbV8De1DaM?autoplay=1&modestbranding=1&rel=0&theme=light&color=white", width="560", height="315", frameborder="0")
			
			if thinkertype === 1
				.description
					h3.video__heading 
						span.font--light What does an 
						b Engineer 
						span.font--light do at 
						b FNB?

					p.video__subheading ( This is a very limited list of your day to day job )
					ul.video__description
						li Our Engineers are called bankineers 
						li Design a new process
						li Fix a process (make it more efficient)
						li Develop a new financial product like an investment account or flexible loan
						li Design a system, code it, test it
						li Translate a business need into an IT solution

			if thinkertype === 2
				.description
					h3.video__heading 
						span.font--light What does a 
						b Commerce grad 
						span.font--light do at 
						b FNB? 

					p.video__subheading ( This is a very limited list of your day to day job )
					ul.video__description
						li Analyse financial information
						li Advise a business owner
						li Help a new business get started
						li Find new customers
						li Sell a product

			if thinkertype === 3
				.description
					h3.video__heading 
						span.font--light What does a 
						b Computer Scientist  
						span.font--light do at 
						b FNB?

					p.video__subheading ( This is a very limited list of your day to day job )
					ul.video__description
						li Design systems
						li Code programs
						li Design testing programs, test programs
						li Invent a program to enable a process
						li Sort out a business problem

			if thinkertype === 4
				.description
					h3.video__heading 
						span.font--light What does an 
						b Actuarial &amp; Quants grad 
						span.font--light do at 
						b FNB? 
					p.video__subheading ( This is a very limited list of your day to day job )
					ul.video__description
						li Analyse information 
						li Quantify problems in terms of numbers, costs 
						li Collect, organize, analyse customer data 
						li Use information to make business decisions 
						li Build a model 
						li Predict an event
						li Analyse risks, quantify risks

a.btn.btn--about(href="#intro") &laquo; Home 
a.btn.btn--about.btn--about--right(href="#others") What others have done  &raquo; 

