.row
	img.badge(src="images/badges/finisher.png")
	.large-12.columns.modal__description

		h3.modal__resultheading
			| You've done it

		p.color--grey.modal__resultheadingsub
			i This was much easier than traveling through middle earth to destroy the one ring.

		h4.modal__resultheading.modal__resultheadinglast
			b &raquo; You’ve received the 
			| finisher badge 
			b worth 
			| 500 points &laquo;

			

	