.curtain.curtain--top.curtain--show.curtain--animation
.curtain.curtain--bottom.curtain--show.curtain--animation

.page__view__content.intro
	.row.logos
		.large-4.large-offset-2.columns.logos__animation
			.logo.logo--second
				a(href="#about")
					img.logo__image.js-fetch-user(src="images/logo-about.png")
				.logo__shadow.logo__shadow--dark.logo__shadow--top
				.logo__shadow.logo__shadow--bottom
			h4.logo-heading.font--italic 
				a(href="#about")
					| About LOi &raquo;
			p.logo-descrip 
				i The meaning of the bank your degree and everything

		.large-4.large-pull-2.columns.logos__animation
			.logo.logo--third
				a(href="#dashboard")
					img.logo__image.js-fetch-user(src="images/logo-challenges.png")
				.logo__shadow.logo__shadow--dark.logo__shadow--top
				.logo__shadow.logo__shadow--bottom
			h4.logo-heading.font--italic 
				a(href="#dashboard")
					| The Challenges &raquo;
			p.logo-descrip
				i One does not simply work at FNB

