h3.modal__content__heading &raquo; Top 10 &laquo; 
	span.font--light Keep your friends close...

ul.leaderboard__list
	each graduate in collection
		li 
			span.leaderboard__list__name #{graduate.Firstname} #{graduate.Surname} 
			| ---------------------------------------------------- #{graduate.TotalPoints} pts