.curtain.curtain--top.curtain--show.curtain--animation
.curtain.curtain--bottom.curtain--show.curtain--animation

.page__view__content.intro
	.row.logos
		.large-8.large-offset-4
			iframe(src="//www.youtube.com/embed/OzQyKuBlZlI", width="560", height="315", frameborder="0")

a.btn.btn--about.btn--light(href="#intro") &laquo; Back
a.btn.btn--about.btn--light(href="#intro") What others have done  &raquo; 

