div.locks
	h3.thinkertype #{challenge.thinkerType}

	img(src="images/lock-open.png").locks__lock
	img(src="images/lock-open.png").locks__lock
	img(src="images/lock-open.png").locks__lock
.row


	.large-12.columns.modal__description

		!=challenge.Description

		.action-btns
			button.btn.btn--start Bring it on &raquo;



