.curtain.curtain--top.curtain--show.curtain--animation
.curtain.curtain--bottom.curtain--show.curtain--animation.curtain--video

.page__view__content.intro
	.row.logos
		.large-8.large-offset-2.page__content
			.video
				iframe(src="//www.youtube.com/embed/il8N3-XEDNk?autoplay=1&modestbranding=1&rel=0&theme=light&color=white", width="560", height="315", frameborder="0")
			
			

a.btn.btn--about(href="#intro") &laquo; Home 
a.btn.btn--about.btn--about--right(href="#about-me") What can I do &raquo; 

