div.locks
	img(src="images/lock-open.png").locks__lock
	img(src="images/lock-open.png").locks__lock
	img(src="images/lock-open.png").locks__lock
.row
	

	.large-12.columns.pattern__content

		div.path__challenge

		.clock-container
			.clock
				.top
				.right
				.bottom
				.left
				.center
				.shadow
				.hour
				.minute
				.second

		
