div.locks
	img(src="images/lock-open.png").locks__lock
	img(src="images/lock-open.png").locks__lock
	img(src="images/lock-open.png").locks__lock
.row


	.large-12.columns.pitch__content

		.pitch__content__fb-like


			.pitch__content__details
				h3.pitch__content__likes
					| You have recieved
					b#numlikes ...
					|  facebook like(s) so far

				p.pitch__content__likes__sub
					| You need
					b 10
					| or more
					b likes
					| before you can procead

				.action-btns
					button.btn.btn--try-again Try again &laquo;
					button(disabled="disabled").btn.btn--finish Submit 2/2 &raquo;
