ul.graduate-overview-bar.inactive
	li.large-4.columns
		h5.graduate-overview-bar__detail
			i FNB League of 
			| INNOVATORS 
	li.large-4.columns
		h5.graduate-overview-bar__detail.graduate-overview-bar__name
			i Welcome: 
			| #{model.Firstname}
	li.large-4.columns
		h5.graduate-overview-bar__detail.graduate-overview-bar__points
			i You have   
			| #{model.TotalPoints} 
			i points

a.btn.btn--about(href="#about") About LOi &raquo;