.puzzle-question

  //- h5.modal__content__heading.modal__content__heading--vile=question.heading

  p.puzzle-question-body=question.question

  p.error(style='color: #FF0000;font-size: 14px;display: none;') Answer is incorrect

  input(type="text").puzzle-input

  .action-btns
    button.btn.btn--submit.submit-question
      | Submit
      span.questions-progress=progress
      | &raquo;