div.locks
	img(src="images/lock-open.png").locks__lock
	img(src="images/lock-open.png").locks__lock
	img(src="images/lock-open.png").locks__lock
.row


	.large-12.columns.code__content



		h5.modal__content__heading.modal__content__heading--vile.modal__content__subheading--code Write a piece of code that takes no input and produces a copy of its own source code as its only output using the language of the web.

		.code-input

			.code-input__content.cf
				h3.code-content__heading=title

				textarea.code__input

				div.code__result

				#sandbox

				.action-btns
					button.btn.btn--run.executr-switch(data-code-type="javascript") Run Code &laquo;
					button(disabled="disabled").btn.btn--submit
						| Submit &raquo;