.curtain.curtain--top.curtain--animation
.curtain.curtain--bottom.curtain--animation

.page__view__content
	.title.title--home
		h2.title__main
			span.font--light FNB League of 
			| INNOVATORS
		h3.title__sub.font--thin Graduate Programme

	.logo
		h5.logo__title.font--light Switch on
		img.logo__image.js-fetch-user(src="images/logo.png")
		h5.logo__title your future
		.logo__shadow.logo__shadow--top
		.logo__shadow.logo__shadow--bottom

	h5.welcome-text.font--light
		| We won’t ask you to 
		b slay dragons 
		| or compete in the 
		b Hunger games, 
		| but you will have to complete 3 challenges to start innovating with FNB.

