.curtain.curtain--top.curtain--animation
.curtain.curtain--bottom.curtain--animation

.page__view__content
	.title.title--home
		h2.title__main
			span.font--light FNB League of&nbsp;
			| INNOVATORS
		h3.title__sub.font--thin Graduate Programme

	div(style='text-align: center;')
		img(src='images/logo-2.png', style='max-width: 150px;')

	.logo
		img.logo__image.js-fetch-user(src="images/login-btn.png")

	h5.welcome-text.font--light
		b "Here’s to the crazy ones, the misfits, the rebels, the troublemakers, the round pegs in the square holes...<br />
		| because the ones who are crazy enough to think that they can change the world, are the ones who do. "
		p(style="text-align: right; padding-right: 40px;")
			small - STEVE JOBS

	p(style='position: absolute;bottom: 18px;right: 10px;color: #000;') * The games will not work correctly on IE8 and below.

