.curtain.curtain--top.curtain--show.curtain--animation.curtain--off-white
.curtain.curtain--bottom.curtain--show.curtain--animation.curtain--turq

.page__view__content.category
	
	.category__heading
		h3.logo-heading &raquo; Choose your strength &laquo;
		p.font--thin Time to show off those innovative skills. 
			b Choose wisely, you can only choose once.

	.row.logos
		.large-3(data-thinkertype="1").large-offset-1.columns.logos__animation.graduate-thinkertype.disabled
			.logo.logo--first
				img.logo__image.js-fetch-user(src="images/logo-engineer.png")
				.logo__shadow.logo__shadow--top
				.logo__shadow.logo__shadow--bottom
			h5.logo-heading.logo-heading--thinkertype.font--light Engineering &raquo;

		.large-3(data-thinkertype="2").columns.logos__animation.graduate-thinkertype
			.logo.logo--second
				img.logo__image.js-fetch-user(src="images/logo-commerce.png")
				.logo__shadow.logo__shadow--top
				.logo__shadow.logo__shadow--bottom
			h5.logo-heading.logo-heading--thinkertype.font--light Commerce &raquo;
		
		.large-3(data-thinkertype="3").columns.logos__animation.graduate-thinkertype.disabled
			.logo.logo--third
				img.logo__image.js-fetch-user(src="images/logo-compscience.png")
				.logo__shadow.logo__shadow--top
				.logo__shadow.logo__shadow--bottom
			h5.logo-heading.logo-heading--thinkertype.font--light Computer Science &raquo;

		.large-3(data-thinkertype="4").large-pull-1.columns.logos__animation.graduate-thinkertype
			.logo.logo--fourth
				img.logo__image.js-fetch-user(src="images/logo-math.png")
				.logo__shadow.logo__shadow--top
				.logo__shadow.logo__shadow--bottom
			h5.logo-heading.logo-heading--thinkertype.font--light Actuarial &amp; Quants &raquo;
